body {
  margin-bottom: 60px;
  color: #505050;
  font-family: 'Muli', sans-serif;
}
body > .container {
  padding: 80px 15px 0;
} 
h1, h2, h3, h4, h5, h6 {
  font-family: 'Muli', sans-serif;
  font-weight: bold;
}
  .navbar {
  background-color: #0d6996;
  border-bottom: 0px;
  border-radius: 0;
  }
  .navbar .navbar-brand, .navbar .navbar-brand:hover {
  color: #fff;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5em;
  }
  a:hover {
      color: #0056FF;
  }
.navbar-toggler {
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background: 0 0;
  border: 1px solid transparent;
  border-radius: .25rem;
}
.navbar-nav > li > a {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
}
.navbar-nav {
  list-style-type: none;

}
.container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;

}


/* ---------------------------------------------------------
Homepage
---------------------------------------------------------*/

.homepage h1 {
  text-align: center;
  margin: 0px 0px 30px 0px;
  line-height: 1.5em;
}

.homepage h1 .main_line{
  font-size: 1rem;
  font-weight: 700;
}

.homepage h1 .minor_line{
  font-size: 30px;
  font-weight: 400;
}

.homepage h2 {
  text-align: center;
  font-size: 1.85em;
  font-weight: 700;
  margin: 20px 0px 20px 0px
}

.homepage h3 {
  font-size: 1.4em;
  font-weight: 700;
}

.homepage h3.category_header {
  background-color: #f7f6f6;
  color: rgb(84, 84, 84);
  padding: 10px 20px 10px 20px;
  border: solid 1px #e6e6e6;
  margin-bottom: 20px;
}

.homepage h4 {
  font-size: 1.2em;
  font-weight: normal;
}

.homepage h4 .card_header {
  font-size: 1.2em;
}

.homepage p{
  font-size: 1.1em;
}

.homepage .blurb{
  margin-bottom: 1.5em;
}

/* ---------------------------------------------------------
Homepage cards
---------------------------------------------------------*/

.homepage .card{
  border-radius: 0rem;
  margin-bottom: 20px;
}

.homepage .card-header {
  background-color: rgba(255, 255, 255, 1);
}

.homepage .card-body ul{
    padding-left: 20px;
    margin-bottom: 0;
  }

  .homepage .card-body li{
    font-size: 1.05em;
  }

@media (min-width: 480px) {
  .homepage .card-body {
    -webkit-columns: 384px 2;
      -moz-columns: 384px 2;
          columns: 384px 2;
  }}

  .homepage .article_list li{
    font-size: 1em;
  }

  .article_list .date_published {
    font-size: .7em;
  }

  .homepage .article_list {
    -webkit-columns: 1;
    -moz-columns: 1;
    columns: 1;
  }
 
  @media (min-width: 480px) {
    .homepage .article_list {
      -webkit-columns: 1;
      -moz-columns: 1;
      columns: 1;
    }
    
    .homepage .article_list li{
      font-size: 1.2em;
    }
  }
  

  .homepage h3.category_header {
      background-color: #f7f6f6;
      color: rgb(84, 84, 84);
      padding: 10px 20px 10px 20px;
      border: solid 1px #e6e6e6;
      margin-bottom: 20px;
  }
  .homepage h3 {
      font-size: 1.8em;
      font-weight: 700;
  }
  .homepage .card {
      border-radius: 0rem;
      margin-bottom: 20px;
  }
  .homepage .card-header {
      background-color: rgba(255, 255, 255, 1);
      font-size: 2rem;
  }
  .homepage h4 {
      font-size: 1.2em;
      font-weight: normal;
  }
  @media (min-width: 480px) {
      .homepage .card-body {
          -webkit-columns: 384px 2;
          -moz-columns: 384px 2;
          columns: 384px 2;
      }
  }
  .homepage .card-body ul {
      padding-left: 20px;
      margin-bottom: 0;
  }
  .homepage .card-body li {
      font-size: 1.05em;
  }
  a {
      color: #0046B7;
      font-size: 1.8rem;
  }
  .card {
      position: relative;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 1px solid rgba(0, 0, 0, .125);
      border-radius: .25rem;
      padding: 20px;
  }
  

  /*Second page */

.container1 {
    padding: 100px 15px 0;
    max-width: 940px;
    margin: 0 auto ;
} 

.technical_note h1, .page h1 {
    font-size: 2.5rem;
    /* letter-spacing: .2rem; */
}

.technical_note .technical_note_date {
  margin-bottom: 1.5em;
}
.content {
font-size: 1.4em;
}
.technical_note h2 {
font-size: 1.6em;
font-weight: bold;
margin-top: 1em;
margin-bottom: .5em;
}
.highlight pre {
border: 1px solid #ccc;
line-height: 1.42857143;
padding: 1em;
}

pre code {
color: #747474;
}
.chroma {
background-color: #f9f9f9;
}
pre {
padding: .5em;
display: block;
margin-bottom: .5em;
font-size: .85em;
}

.chroma .s1 {
color: #ea6900;
}
.chroma .n {
color: #4b4b4b;
}

.chroma .o {
color: #333333;
}
.chroma .c1 {
color: #bb8000;
font-style: italic;
}

