{{ define "main" }}
<main>
    <div class="homepage">
        <div class="row">
            <div class="col-sm-12">
                <h1>
                    <span class="minor_line">Technical Notes</span>
                    
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 blurb">
                <p>
                    <!--About me content-->
                </p>
            </div>
        </div>

        
        <div class="row" id="python">
            <div class="col-sm-12">
                <h3 class="category_header">Python</h3>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Basics</h4>
                    <div class="card-body">
                        <ul>
                            {{ range (where .Pages "File.Dir" "in" "/python/basics/").ByTitle }}
                                {{ if ne .Title "Template" }}
                                <li>
                                    <a href="{{.Permalink}}">{{.Title}}</a>
                                </li>
                                {{ end }}    
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Numpy</h4>
                    <div class="card-body">
                        <ul>
                            {{ range (where .Pages "File.Dir" "in" "/python/numpy/").ByTitle }}
                                {{ if ne .Title "Template" }}
                                <li>
                                    <a href="{{.Permalink}}">{{.Title}}</a>
                                </li>
                                {{ end }}
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Pandas</h4>
                    <div class="card-body">
                        <ul>
                            {{ range (where .Pages "File.Dir" "in" "/python/pandas/").ByTitle }}
                                {{ if ne .Title "Template" }}
                                <li>
                                    <a href="{{.Permalink}}">{{.Title}}</a>
                                </li>
                                {{ end }}
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Regex</h4>
                    <div class="card-body">
                        <ul>
                            {{ range (where .Pages "File.Dir" "in" "/python/regex/").ByTitle }}
                                {{ if ne .Title "Template" }}
                                <li>
                                    <a href="{{.Permalink}}">{{.Title}}</a>
                                </li>
                                {{ end }}
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">File Utils</h4>
                    <div class="card-body">
                        <ul>
                            {{ range (where .Pages "File.Dir" "in" "/python/file-utils/").ByTitle }}
                                {{ if ne .Title "Template" }}
                                <li>
                                    <a href="{{.Permalink}}">{{.Title}}</a>
                                </li>
                                {{ end }}
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Sklearn</h4>
                    <div class="card-body">
                        <ul>
                            {{ range (where .Pages "File.Dir" "in" "/python/sklearn/").ByTitle }}
                                {{ if ne .Title "Template" }}
                                <li>
                                    <a href="{{.Permalink}}">{{.Title}}</a>
                                </li>
                                {{ end }}
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Stats Model</h4>
                    <div class="card-body">
                        <ul>
                            {{ range (where .Pages "File.Dir" "in" "/python/statsmodel/").ByTitle }}
                                {{ if ne .Title "Template" }}
                                <li>
                                    <a href="{{.Permalink}}">{{.Title}}</a>
                                </li>
                                {{ end }}
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Text Processing</h4>
                    <div class="card-body">
                        <ul>
                              

                            {{ range (where .Pages "File.Dir" "in" "/python/text-processing/").ByTitle }}

                                {{ if ne .Title "Template" }}
                                    <li>
                                        <a href="{{.Permalink}}">{{.Title}}</a>
                                    </li>
                                {{ end }}

                            
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Image Analysis</h4>
                    <div class="card-body">
                        <ul>
                            {{ range (where .Pages "File.Dir" "in" "/python/image-analysis/").ByTitle }}
                                {{ if ne .Title "Template" }}
                                    <li>
                                        <a href="{{.Permalink}}">{{.Title}}</a>
                                    </li>
                                {{ end }}
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Gensim</h4>
                    <div class="card-body">
                        <ul>
                            {{ range (where .Pages "File.Dir" "in" "/python/gensim-samples/").ByTitle }}
                                {{ if ne .Title "Template" }}
                                <li>
                                    <a href="{{.Permalink}}">{{.Title}}</a>
                                </li>
                                {{ end }}
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Plot</h4>
                    <div class="card-body">
                        <ul>
                            {{ range (where .Pages "File.Dir" "in" "/python/plot/").ByTitle }}
                                {{ if ne .Title "Template" }}
                                <li>
                                    <a href="{{.Permalink}}">{{.Title}}</a>
                                </li>
                                {{ end }}
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Sentiment Analysis</h4>
                    <div class="card-body">
                        <ul>
                            {{ range (where .Pages "File.Dir" "in" "/python/sentiment/").ByTitle }}
                                {{ if ne .Title "Template" }}
                                <li>
                                    <a href="{{.Permalink}}">{{.Title}}</a>
                                </li>
                                {{ end }}
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">TensorFlow</h4>
                    <div class="card-body">
                        <ul>
                            {{ range (where .Pages "File.Dir" "in" "/python/tensorflow-work/").ByTitle }}
                                {{ if ne .Title "Template" }}
                                <li>
                                    <a href="{{.Permalink}}">{{.Title}}</a>
                                </li>
                                {{ end }}
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Yellow Brick</h4>
                    <div class="card-body">
                        <ul>
                            {{ range (where .Pages "File.Dir" "in" "/python/yellowbrick/").ByTitle }}
                                {{ if ne .Title "Template" }}
                                <li>
                                    <a href="{{.Permalink}}">{{.Title}}</a>
                                </li>
                                {{ end }}
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Geo Pandas</h4>
                    <div class="card-body">
                        <ul>
                            {{ range (where .Pages "File.Dir" "in" "/python/geopandas/").ByTitle }}
                                {{ if ne .Title "Template" }}
                                <li>
                                    <a href="{{.Permalink}}">{{.Title}}</a>
                                </li>
                                {{ end }}
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Tips and Rules</h4>
                    <div class="card-body">
                        <ul>
                            {{ range (where .Pages "File.Dir" "in" "/python/tips/").ByTitle }}
                                {{ if ne .Title "Template" }}
                                <li>
                                    <a href="{{.Permalink}}">{{.Title}}</a>
                                </li>
                                {{ end }}
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="row" id="python">
            <div class="col-sm-12">
                <h3 class="category_header">Books</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Books</h4>
                    <div class="card-body">
                        <ul>
                            {{ range (where .Pages "File.Dir" "in" "/books/psychology/").ByTitle }}
                                {{ if ne .Title "Template" }}
                                <li>
                                    <a href="{{.Permalink}}">{{.Title}}</a>
                                </li>
                                {{ end }}
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="python">
            <div class="col-sm-12">
                <h3 class="category_header">Articles</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header"> Best Lines</h4>
                    <div class="card-body">
                        <ul>
                            {{ range (where .Pages "File.Dir" "in" "/articles/hbr/").ByTitle }}
                                {{ if ne .Title "Template" }}
                                <li>
                                    <a href="{{.Permalink}}">{{.Title}}</a>
                                </li>
                                {{ end }}
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>


    </div>

</main>
{{ end }}