{% extends "base.html" %}
{% block content %}

<h3>Archives</h3>

<table class="table-archive">
    <tbody>
        <thead>
            <tr>
                <th>Date</th>
                <th>Title</th>
                <th>Score</th>
            </tr>
        </thead>

        {% set total_score = dates | map(attribute='metadata.score') | map('int') | sum %}

        <!-- Display the total score -->
        <p><strong>Overall Score:</strong> {{ total_score }}</p>

        {% for article in dates %}
        <tr>
            <td>{{ article.locale_date }}</td>
            <td><a href='{{ article.url }}'>{{ article.title }}</a></td>
            <td>{{ article.metadata.score | default(0) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}